* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #0b1220, #111827, #1f2937);
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

#app {
    width: 100%;
    height: 100%;
}
